*{
  padding: 0;
  margin: 0;
}
@media screen and (min-width:1200px) {
body{
}
header{
  width: 100%;
  height: 100vh;
  background-image: url(img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}
header .header{
}
header .menu{
  float: right;
  margin-right: 5%;
}
header .menu ul{
  display: flex;
  list-style-type: none;
}
header .menu ul li{
  display: flex;
  position: relative;
}
header .menu ul li a{
  font-family: Arial;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 3em;
  padding-top: 70px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
}
header .menu ul li a:hover{
  color: rgba(245,245,245,0.7);
}
header .menu ul li a img{
  height: 20px;
  position: absolute;
}
header .menu ul li a:hover img.on {
    opacity: 0;
}
header .header .logo img{
  height: 64px;
  padding: 20px;
  padding-left: 50px;
}
header .header .a p{
   writing-mode: vertical-rl;
   color: #dcdcdc;
   font-family: Arial;
   position: absolute;
   left: 50px;
   bottom: 50px;
   font-size: 20px;
}
main .about{
  height: 80vh;
}
main .about img{
  width: 60%;
  height: 80vh;
}
main .about h2{
  position: absolute;
  left: 70%;
  top: 110vh;
  font-size: 15px;
  font-family: Arial;
  color: #44617b;
}
main .about p{
  position: absolute;
  left: 70%;
  top: 120vh;
  font-size: 15px;
  color: #696969;
  width: 20%;
}
main .allprojects{
  height: 80vh;
}
main .allprojects img{
  position: absolute;
  left: 60%;
  width: 40%;
  height: 80vh;
}
main .allprojects h2{
  position: absolute;
  top: 190vh;
  left: 10%;
  font-size: 15px;
  font-family: Arial;
  color: #44617b;
}
main .allprojects p{
  position: absolute;
  left: 10%;
  top: 200vh;
  font-size: 15px;
  color: #696969;
  width: 40%;
}
main .photo{
  height: 700px;
  width: 100%;
  background-color: #393f4c
}
main .photo .photo1{
  padding-top: 5%;
  padding-left: 5%;
  width: 40%;
}
main .photo .photo2{
  position: absolute;
  top: 280vh;
  left: 50%;
  width: 50%;
}
main .news{
  text-align: center;
  height: 80vh;
}
main .news h2{
  font-size: 20px;
  font-family: Arial;
  color: #44617b;
  padding-top: 10vh;
  padding-bottom: 10vh;
}
main .news hr{
 height: 1px;
 background-color: #696969;
 width: 60%;
 border: none;
 margin-left: auto;
 margin-right: auto;
}
main .news p{
  font-size: 15px;
  color: #696969;
  padding: 20px;
}
main .contact{
  height: 400px;
  background-color: #c0c6c9;
  text-align: center;
}
main .contact h2{
  font-size: 20px;
  font-family: Arial;
  color: #f7fcfe;
  padding-top: 10vh;
  padding-bottom: 10vh;
}



footer .footer{
  height: 240px;
  width: 100%;
  background-color: #393f4c
}
footer .logo{
  width: 70px;
  padding: 50px;
  padding-left: 20%;
}
footer .menu2{
  float: right;
  margin-right: 5%;
}
footer .menu2 ul{
  display: flex;
  list-style-type: none;
}
footer .menu2 ul li{
  display: flex;
  position: relative;
  right: 30%;
}
footer .menu2 ul li a{
  font-family: Arial;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 3em;
  padding-top: 90px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
}
footer .menu2 ul li a:hover{
  color: rgba(245,245,245,0.7);
}
footer .menu2 ul li a img{
  height: 20px;
  position: absolute;
}
footer .footer ul li a:hover img.on {
    opacity: 0;
}
footer .name{
  text-align: center;
}
footer .name p{
  font-size: 10px;
  color: #f7fcfe;
  font-family: Arial;
  padding-top: 2vh;
}
footer .name a{
  color: #f7fcfe;
  text-decoration: none;
}
footer .copyright{
  text-align: center;
}
footer .copyright p{
  font-family: Arial;
  font-size: 10px;
  color: #393f4c;
  padding: 14px;
}
footer .copyright{
  height: 40px;
}
}
@media screen and (min-width:768px) and ( max-width:1199.98px){
  body{
  }
  header{
    width: 100%;
    height: 100vh;
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  header .header{
  }
  header .menu{
    float: right;
    margin-right: 5%;
  }
  header .menu ul{
    display: flex;
    list-style-type: none;
  }
  header .menu ul li{
    display: flex;
    position: relative;
  }
  header .menu ul li a{
    font-family: Arial;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 2em;
    padding-top: 70px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
  }
  header .menu ul li a:hover{
    color: rgba(245,245,245,0.7);
  }
  header .menu ul li a img{
    height: 20px;
    position: absolute;
  }
  header .menu ul li a:hover img.on {
      opacity: 0;
  }
  header .header .logo img{
    height: 64px;
    padding: 20px;
    padding-left: 50px;
  }
  header .header .a p{
     writing-mode: vertical-rl;
     color: #dcdcdc;
     font-family: Arial;
     position: absolute;
     left: 50px;
     bottom: 50px;
     font-size: 15px;
  }
  main .about{
    height: 80vh;
  }
  main .about img{
    width: 60%;
    height: 80vh;
  }
  main .about h2{
    position: absolute;
    left: 65%;
    top: 110vh;
    font-size: 15px;
    font-family: Arial;
    color: #44617b;
  }
  main .about p{
    position: absolute;
    left: 65%;
    top: 120vh;
    font-size: 13px;
    color: #696969;
    width: 30%;
  }
  main .allprojects{
    height: 80vh;
  }
  main .allprojects img{
    position: absolute;
    left: 60%;
    width: 40%;
    height: 80vh;
  }
  main .allprojects h2{
    position: absolute;
    top: 190vh;
    left: 5%;
    font-size: 15px;
    font-family: Arial;
    color: #44617b;
  }
  main .allprojects p{
    position: absolute;
    left: 5%;
    top: 200vh;
    font-size: 13px;
    color: #696969;
    width: 50%;
  }
  main .photo{
    height: 560px;
    width: 100%;
    background-color: #393f4c
  }
  main .photo .photo1{
    padding-top: 5%;
    padding-left: 5%;
    width: 40%;
  }
  main .photo .photo2{
    position: absolute;
    top: 285vh;
    left: 50%;
    width: 50%;
  }
  main .news{
    text-align: center;
    height: 80vh;
  }
  main .news h2{
    font-size: 20px;
    font-family: Arial;
    color: #44617b;
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
  main .news hr{
   height: 1px;
   background-color: #696969;
   width: 60%;
   border: none;
   margin-left: auto;
   margin-right: auto;
  }
  main .news p{
    font-size: 15px;
    color: #696969;
    padding: 20px;
  }
  main .contact{
    height: 400px;
    background-color: #c0c6c9;
    text-align: center;
  }
  main .contact h2{
    font-size: 20px;
    font-family: Arial;
    color: #f7fcfe;
    padding-top: 10vh;
    padding-bottom: 10vh;
  }



  footer .footer{
    height: 240px;
    width: 100%;
    background-color: #393f4c
  }
  footer .logo{
    width: 50px;
    padding: 40px;
    padding-left: 20%;
  }
  footer .menu2{
    float: right;
    margin-right: 5%;
  }
  footer .menu2 ul{
    display: flex;
    list-style-type: none;
  }
  footer .menu2 ul li{
    display: flex;
    position: relative;
    right: 30%;
  }
  footer .menu2 ul li a{
    font-family: Arial;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 2em;
    padding-top: 90px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 11px;
  }
  footer .menu2 ul li a:hover{
    color: rgba(245,245,245,0.7);
  }
  footer .menu2 ul li a img{
    height: 20px;
    position: absolute;
  }
  footer .footer ul li a:hover img.on {
      opacity: 0;
  }
  footer .name{
    text-align: center;
  }
  footer .name p{
    font-size: 10px;
    color: #f7fcfe;
    font-family: Arial;
    position: absolute;
    position: relative;
    top: 40px;
  }
  footer .name a{
    color: #f7fcfe;
    text-decoration: none;
  }
  footer .copyright{
    text-align: center;
  }
  footer .copyright p{
    font-family: Arial;
    font-size: 10px;
    color: #393f4c;
    padding: 14px;
  }
  footer .copyright{
    height: 40px;
  }
}
@media screen and (max-width:767.98px){
  body{
  }
  header{
    width: 100%;
    height: 100vh;
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  header .header{
  }
  header .menu{
    float: right;
    margin-right: 5%;
  }
  header .menu ul{
    list-style-type: none;
  }
  header .menu ul li{
    display: flex;
    position: relative;
  }
  header .menu ul li a{
    font-family: Arial;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 3em;
    padding-top: 70px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
  }
  header .menu ul li a:hover{
    color: rgba(245,245,245,0.7);
  }
  header .menu ul li a img{
    height: 20px;
    position: absolute;
  }
  header .menu ul li a:hover img.on {
      opacity: 0;
  }
  header .header .logo img{
    height: 90px;
    padding: 20px;
    padding-left: 50px;
  }
  header .header .a p{
     writing-mode: vertical-rl;
     color: #dcdcdc;
     font-family: Arial;
     position: absolute;
     left: 50px;
     bottom: 50px;
     font-size: 15px;
  }
  main .gakuin{
    display: none;
  }
  main .about h2{
    font-family: Arial;
    color: #44617b;
    font-size: 20px;
    padding-top: 50px;
    font-weight: 600;
    padding-left: 10%;
  }
  main .about p{
    font-size: 15px;
    color: #696969;
    padding: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  main .keyakinamiki{
    display: none;
  }
  main .allprojects h2{
    font-family: Arial;
    color: #44617b;
    font-size: 20px;
    padding-top: 50px;
    font-weight: 600;
    padding-left: 10%;
  }
  main .allprojects p{
    font-size: 15px;
    color: #696969;
    padding: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  main .photo{
    width: 100%;
    background-color: #393f4c
  }
  main .photo .photo1{
    width: 100%;
  }
  main .photo .photo2{
    width: 100%;
  }
  main .photo .gakuin1{
    padding: 30px;
    background-color: #393f4c;
  }
  main .photo .gakuin2{
    padding: 30px;
    background-color: #393f4c;
  }
  main .news{
    text-align: center;
    height: 80vh;
  }
  main .news h2{
    font-size: 20px;
    font-family: Arial;
    color: #44617b;
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
  main .news hr{
   height: 1px;
   background-color: #696969;
   width: 60%;
   border: none;
   margin-left: auto;
   margin-right: auto;
  }
  main .news p{
    font-size: 15px;
    color: #696969;
    padding: 20px;
  }
  main .contact{
    height: 400px;
    background-color: #c0c6c9;
    text-align: center;
  }
  main .contact h2{
    font-size: 20px;
    font-family: Arial;
    color: #f7fcfe;
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
  footer{
    text-align: center;
  }

  footer .footer{
    height: 70vh;
    width: 100%;
    background-color: #393f4c;
  }
  footer .logo{
    width: 10%;
    padding: 20px;
  }
  footer .menu2 ul{
    list-style-type: none;
  }
  footer .menu2 ul li a{
    font-family: Arial;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 2em;
    padding-top: 30px;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
  }
  footer .menu2 ul li a:hover{
    color: rgba(245,245,245,0.7);
  }
  footer .menu2 ul li a img{
    height: 20px;
    position: absolute;
  }
  footer .footer ul li a:hover img.on {
      opacity: 0;
  }
  footer .name{
    text-align: center;
    padding: 10px;
  }
  footer .name p{
    font-size: 10px;
    color: #f7fcfe;
    font-family: Arial;
    padding-top: 2vh;
  }
  footer .name a{
    color: #f7fcfe;
    text-decoration: none;
  }
  footer .copyright{
    text-align: center;
  }
  footer .copyright p{
    font-family: Arial;
    font-size: 10px;
    color: #393f4c;
    padding: 14px;
  }
  footer .copyright{
    height: 40px;
  }
}
